<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head', {title: productSelected.name}) %>
    <body>
        <%- include('partials/headerNavbar')%>
	<main>
    	<div class="container products-wrapper">
   
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Detalle del producto: <%= productSelected.name %></h2>
			</div>
		</div>
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/img/products/<%= productSelected.image %>" alt=<%= productSelected.name %> class="product-detail-img">
					<p class="product-detail-description">
						<%= productSelected.description %>
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= productSelected.name %></h2>
						
							<p class="product-detail-price small">
								<span>$<%= productSelected.price %></span> <!--precio sin descuento-->
								/
								<b><%= productSelected.discount %>% OFF</b>
							</p>
							<p class="product-detail-price">
								<%= "-$"+((productSelected.discount / 100) * productSelected.price) %> <!--cuanto se le descuenta-->
								</p>
							<p class="product-detail-price">
								$<%= productSelected.price - ((productSelected.discount / 100) * productSelected.price) %> <!--precio final-->
							</p>

						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá en 12 cuotas sin interes</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Retiro gratis en locales del vendedor</p>
							</li>
						</ul>

						<a href="#" class="buy-now-button">COMPRAR AHORA</a>
						<hr>

						<a href="/products/edit/<%=productSelected.id%>" class="action-button edit">EDITAR PRODUCTO</a>
						<form action="/products/delete/¿¿" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">ELIMINAR</button>
						</form>
					</article>
				</div>
			</div>
		</div>
		</div>
	</main>
</body>
</html>